@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
    
body{
    background: rgb(182,142,110);
    background: linear-gradient(0deg, rgba(182,142,110,0.9486169467787114) 0%, rgba(139,103,72,0.9962359943977591) 100%);
}

div{
    font-family: 'Heebo', sans-serif;
}

h3{
    font-family: 'Heebo', sans-serif;
}

header{
    width: 100%;
    height: auto;
}

ul li{
    list-style: none;
}

.bell{
    width: 25px;
    height: 25px;
}

.cart{
    width: 25px;
    height: 25px;
}

#menus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu{
    /* width: 80%;
    height: auto;
    background-color: blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco1 ul{
    display: flex;
}
.bloco1 li{
    padding-left: 10px;
}

.bloco2 ul{
    display: flex;
    margin-top: 8px;
   
}
.bloco2 li{
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
a:hover{
    color: black;
}